.container{
  width: 100%;
  height: 100%;
}

/*首页一屏样式*/
.index_nav{
  height: 100%;
  width: 100%;
  min-width: 1280px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.index_nav .privilege_logo{
  width: 600px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -300px;
  margin-left: -300px;
}
.banner{
    width: 100%;
}

/* box2 */
.box_2>p,.box_txt{
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
    text-indent: 2rem;
    color: #666666;
    letter-spacing: 1px;
    margin-top: 2rem;
    line-height: 2rem;
}
.box2_title,.box3_title,.box4_title,.box5_title,.box7_title{
    text-align: center;
    font-size: 46px;
    margin-bottom:6rem;
}
.box_2,.box_3,.box_4,.box_5,.box_7{
    padding: 8rem 0rem;
}
/* box2 */
/* box3 */
.box_3{
    background-size: cover;
}
.box3_banner{
    text-align: center;
    margin-top:5rem;
}
.box3_banner>img{
    width: 55%;
    margin: 0 auto;
}
/* box3 */
/* box4 */
.box_4{
    text-align: center;
    background-size: cover;
    color: white;
}
.box_4>p{
    margin: 0 auto;
    font-size: 20px;
    color: #666666;
    letter-spacing: 1px;
    line-height: 2rem;
    color: white;
}
.box_4>a{
    font-size:20px;
    color: #b39054;
    border: 2px solid #b39054;
    padding: 5px 30px;
    border-radius: 5px;
    margin-top: 5rem;
    display: inline-block;
}
.box_4>a:hover{
    color:white;
    border: 2px solid #b39054;
    background: #b39054;
}
/* box4 */
/* box5 */
.box5_body>p{
    width: 65%;
    margin :0 auto;
    text-align: left;
    font-size:20px;
    color: #666666;
    line-height: 2rem;
}
.box5_img{
    margin: 0 auto;
    text-align: center;
    width: 65%;
    display: flex;
    justify-content:space-between;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.box5_img>img{
    width: 50%;
    height: 50%;
}
/* box5 */
.box_7{
    text-align: center;
    padding: 50px
}
.box_7>img{
    width: 80%;
    height: 80%;
    text-align: center;
    margin:0 auto;
}
